<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MovieHaus Vanilla</title>
    <link rel="stylesheet" href="../css/style.css" media="screen" title="no title">
  </head>
  <body>
    <header>
      <h1 class='appTitle'>MovieHaus</h1>
      <form id='movieForm'>
        <input id='movieTitle' type='text' value='' placeholder='Movie Title'>
        <input type='submit' value='Run Search'>
      </form>
    </header>
    <section id='movieInfo'>
      <div id='posterSpot'>

      </div>
      <div id='textSpot'>



      </div>
    </section>

    <script src="../js/app.js" charset="utf-8"></script>
  </body>
</html>
