html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

header {
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}

.search {
  border: 1px solid black;
  border-radius: none;
  outline: none;
  background: none;
  font-family: 'Bungee', cursive;
}

.search:hover {
  cursor: pointer;
}

.appTitle {
  line-height: 1;
  font-family: 'Bungee', cursive;
}

#movieTitle {
  font-family: 'Bungee', cursive;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  background: none;
}

#movieInfo {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

#posterSpot {
  width: 30%;
  height: 80%;
  text-align: center;
}

.moviePoster {
  height: 100%;
}

#textSpot {
  width: 60%;
  height: 80%;
}

.titleBox {
  padding: 0;
  border-bottom: 2px solid black;
  text-align: center;
  height: 15%;
}

.title {
  font-variant: small-caps;
}

.year {
  font-size: 1rem;
}

.detailsBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 15%;
}

.ratingLink:link, .ratingLink:visited{
  color: black;
}

.castPlot {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}

.castBox {
  padding: 1rem;
  width: 50%;
  height: 100%;
}

.plotBox {
  padding: 1rem;
  width: 50%;
  height: 100%;
}
